[Unit]
Description=SGM Service's socket

[Socket]
ListenStream = /home/root/sgm/sgm.sckt
Accept       = no
SocketMode   = 0666

[Install]
WantedBy=sockets.target