[Unit]
Description= SGM Datasink Service

[Service]
Type          = simple
ExecStart     = /home/root/sgm/SGMsink
RuntimeMaxSec = 100
Restart       = always
