[Unit]
Description=SGM Sensor service timer

[Timer]
Unit = SGMsensor.service
OnBootSec       = 60s
OnUnitActiveSec = 60s

[Install]
WantedBy=multi-user.target
